h1 {
  margin: 0;
  text-transform: uppercase;
}

input, .todo {
  padding: 0;
  width: 100%;
  display: block;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
}

input {
  margin: 25px 0;
  height: 50px;
}

button.todo {
  height: 50px;
  background-image: none;
  border: none;
  border-radius: 0;
  color: white;
  cursor: grab;
  overflow: hidden;
  transition: 125ms ease background-color;

  & span:hover {
    color: indianred;
    text-decoration: line-through;
  }

  &:hover {
    outline: 1px solid rgba(176, 59, 16, 0.75);
    box-shadow: 
      0 1px 0 rgba(255,255,255,0.25) inset, 
      0 0 10px rgba(0,0,0,0.25);
    z-index: 100;
  }

  &:active {
    cursor: grabbing;
  }
}

$todos: 45;
@for $i from 1 through $todos {
  .todo:nth-last-child(#{$i}n) {
    background-color: hsl((360deg / $todos * $i), 75%, 75%);
  }
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform .5s cubic-bezier(0.88, -0.19, 0.26, 1.27);
}